:root {
  --white: #ffffff;
  --gray-text: #808080;
  --err-text: #B00020;
  --theme-color: #6200EE;
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: .6s;
  --transform: 0px;
  --shadow: rgba(0, 0, 0, .45);
  --header-height: 65px;
  --font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}

html {
  box-sizing: border-box;
  font-size: clamp(14px, var(--font-size), 18px);
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.app-header {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: var(--header-height) auto;
  grid-gap: 1.5rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--theme-color);
  color: var(--white);
  align-items: center;
  z-index: 1;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}

.container {
  margin-top: var(--header-height);
}

.menu-btn {
  appearance: none;
  background: inherit;
  border: 0;
  height: 100%;
}

.hamburger {
  width: 25px;
  margin: auto;
}

.hamburger span {
  display: block;
  height: 3px;
  margin-bottom: 4px;
  position: relative;
  background: var(--white);
  border-radius: 3px;
  z-index: 1;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--shadow);
  z-index: 2;
  cursor: pointer;
}

#sidenav {
  position: fixed;
  top: 0;
  bottom: 0px;
  max-height: 100vh;
  overflow: hidden auto;
  overscroll-behavior: contain;
  visibility: hidden;
  transform: translateX(-110vw);
  transition: transform var(--duration) var(--easeOutExpo), visibility 0s linear var(--duration);
  width: min(70%, 260px);
  background-color: var(--white);
  box-shadow: 5px 0 40px var(--shadow);
  z-index: 3;
  will-change: transform;
}

.nav-header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--theme-color);
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem;
  align-items: center;
}

.close-button {
  position: relative;
  width: 32px;
  height: 32px;
}

.close-button:before,
.close-button:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 32px;
  width: 2px;
  background: var(--white);
  top: 0;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}

#sidenav.open {
  visibility: visible;
  transform: translateX(0);
  transition: transform var(--duration) var(--easeOutExpo)
}

nav {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.25rem;
}

#messages-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scrollbar-width: none;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  cursor: grab;
  padding: 0.8rem;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  scroll-behavior: smooth;

}

.msg-card {
  position: relative;
  background-color: var(--white);
  transition: box-shadow .25s;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  margin: 0.5rem;
  display: grid;
  grid-template-rows: 4rem auto;
  grid-gap: 0.6rem;
  padding: 1.2rem;
  touch-action: pan-y;
  transform: translateX(var(--transform));
  will-change: transform, opacity;
  content-visibility: auto;
  contain-intrinsic-size: 7rem 14rem;
}

.user-info {
  display: grid;
  grid-template-columns: 3.5rem auto;
  grid-gap: 1.2rem;
  align-items: center;
}

.user-info img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid var(--gray-text);
}

.user-name {
  font-weight: bold;
}


.user-msg {
  overflow: hidden;
}

time {
  color: var(--gray-text);
  font-size: 0.9rem;
}

.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.error-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--err-text);
  display: none;
  font-size: 1.5rem;
}

.show {
  display: block;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -1.2rem, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
  opacity: 0;
}

.bouncing-loader>div {
  width: 1.2rem;
  height: 1.2rem;
  margin: 3rem 0.2rem;
  background-color: var(--theme-color);
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader>div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader>div:nth-child(3) {
  animation-delay: 0.4s;
}

.show-loader {
  opacity: 1;
}